<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Examples</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" href="css/style.css">
	</head>
<body>

<div>
	<button type="button" class="am-btn" id="am_btn">按钮</button>
	<div class="demo">
		123
	</div>
	<br>
	<hr>
	<div class="demo1">
		
	</div>
</div>
<script src="../sea/sea.js"></script>
<script type="text/javascript">
	// 配置seajs
	seajs.config({
		base: "../",
		alias: {
			"jquery":"sea/jquery/jquery-1.9.1.min.js"	
			// 注意这里要用新一点的JQ，而且要用模块化之后的JQ。不然会出问题
		}
	});

	// 加载入口，即调用哪个JS
	seajs.use('static/hello/demo');

	
</script>
</body>
</html>