<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Examples</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		
<link href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

	</head>
<body>
	<label class="checkbox-inline">
	<input type="checkbox" name="chkall" class="chk_cn" id="">1
	</label>
	<label class="checkbox-inline">
	<input type="checkbox" name="chkall" class="chk_cn" id="">1
	</label>
	<label class="checkbox-inline">
	<input type="checkbox" name="chkall" class="chk_cn" id="">1
	</label>

	<button class="btn btn-default btn-xs" id="sel_all" type="button">全选/取消</button>

	

    <script type="text/javascript" src="../sea/sea.js"></script>
    <script type="text/javascript">
    // 配置 sea.js
    seajs.config({
    	base:'../',
    	alias:{
    		'jquery':'sea/jquery/jquery'
    	}
    });
    seajs.use('static/ind/ind');


    </script>
</body>
</html>